/*==================== REUSABLE CSS CLASSES ====================*/
@import "ReusableStyles.scss";

/*==================== Footer Styles ====================*/
footer {
    color: $white-text-color;
	background-color: $green-section;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
	padding: 30px 10%;
}

.footer-link {
    display: block;
	color: $white-text-color;
	span {
		transition: all 0.3s ease 0s;
		&:focus,
		&:hover {
			color: $hover-text-color;
		}
	}
}

.social{
    display: flex;
	justify-content: center;
	align-items: center;
}