/*==================== REUSABLE CSS CLASSES ====================*/
@import "ReusableStyles.scss";

/*==================== Footer Styles ====================*/
footer {
    color: $white-text-color;
	background-color: $green-section;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
    text-align: center;
	padding: 30px 10%;
}

.footer-link {
    display: block;
	color: $white-text-color;
	font-size: $h3-font-size;
	span {
		transition: all 0.3s ease 0s;
		&:focus,
		&:hover {
			color: $hover-text-color;
		}
	}
}

.social{
    display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: $h3-font-size;
	a{
		.FooterIcon{
			color: $white-text-color;
			&:focus,
			&:hover {
				color: $hover-text-color;
			}
		}
	}
}

.footer-desc{
	color: $white-text-color;
	font-size: $h3-font-size;
}