/*==================== REUSABLE CSS CLASSES ====================*/
@import 'ReusableStyles.scss';

/*==================================== Header Styles  ===================================*/
header {
	background-color: $green-section;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px 25rem;
}

.nav-links {
	list-style: none;
	li {
		display: inline-block;
		padding: 0px 20px;
		font-size: $h2-font-size;
		font-weight: $font-medium;
		a {
			transition: all 0.3s ease 0s;
			color: $white-text-color;
			&:focus,
			&:hover {
				color: $hover-text-color;
			}
		}
	}
}

.reserveButton {
	padding: 10px 25px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	background-color: rgba(255, 190, 51, 1);
	color: $black-text-color;
    margin-left: 1.25rem;
	font-size: $h2-font-size;
	&:hover {
		background-color: rgba(255, 190, 51, 0.8);
	}
}

.navbar-brand {
    margin-right: auto;
	h1 {
		font-weight: bold;
		font-size: 32px;
		color: $white-text-color;
		.icon{
			margin-bottom: -0.175rem;
		}
	}
}
