@import '../../SCSS/variables.scss';

.welcome {
	width: 100%;
	display: flex;
	gap: 2rem;
	padding-bottom: 2.5rem;

	.section__title {
		margin: 1rem 0;
		text-align: start;
	}

	.left,
	.right {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
	}

	.about__text {
		text-align: center;
		text-align: start;
	}

	img {
		max-height: 20rem;
		margin: 0 auto;
	}
}


