.customSVG {
	position: absolute;
    margin: 0 0 -84.5px 0;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
	svg {
		position: relative;
		display: block;
		width: calc(177% + 1.3px);
		height: 336px;
	}
	.shape-fill {
		fill: #ffffff;
	}
}
