@import "../index.scss";


/* ==================================== ONLY ON PC OR BIG SCREEN DEVICE !!! ==================================== */

@keyframes wave {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(3600deg);
	}
}

.animationHolder {
	width: 150px;
	height: 39px;

	button {
		padding: 15px 40px;
		border: none;
		border-radius: 2rem;
		cursor: pointer;
		transition: all 0.5s ease-in-out;
		color: $black-text-color;
		font-size: $h2-font-size;
		position: relative;
		overflow: hidden;
		position: relative;
		box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.7);

		// center this text
		display: flex;
		justify-content: center;
		align-items: center;
		// text z index to be above wave
		.text_index {
			z-index: $z-tooltip;
			font-size: $h1-font-size;
		}

		width: 100%;
		height: 100%;
		transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		&:hover {
			.wave {
				top: -50px;
			}
		}

		.wave {
			background-color: #ffbe33;
			position: absolute;
			top: 150%;
			height: 300px;
			width: 300px;
			border-radius: 38%;
			// center this
			left: -50%;
			transform: rotate(360deg);
			transition: all 5s ease;
			animation: wave 30s linear infinite;
		}
	}
}

.CursorHolder {
	width: 250px;
}

.animationHolderHome {
	width: 100%;
	height: 55px;

	button {
		padding: 15px 40px;
		border: none;
		border-radius: 2rem;
		cursor: pointer;
		transition: all 0.5s ease-in-out;
		color: $black-text-color;
		font-size: $h2-font-size;
		position: relative;
	    overflow: hidden;
		position: relative;
		box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.7);

		// center this text
		display: flex;
		justify-content: center;
		align-items: center;
		// text z index to be above wave
		.text_index {
			z-index: $z-tooltip;
			font-size: $h1-font-size;
		}

		width: 100%;
		height: 100%;
		transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		&:hover {
			.wave {
				top: -50px;
			}
		}

		.wave {
			background-color: #ffbe33;
			position: absolute;
			top: 150%;
			height: 500px;
			width: 500px;
			border-radius: 38%;
			// center this
			left: -40%;
			transform: rotate(360deg);
			transition: all 5s ease;
			animation: wave 30s linear infinite;
		}
	}
}

/* ==================================== ONLY ON PC OR BIG SCREEN DEVICE !!! ==================================== */