/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
$green-section: rgb(22, 58, 36);
$white-section: #f5f5fa;

$hover-text-color: #ffbe33;

/*========== Media Query Config ==========*/
$small-screen: 350px; // <--- Set Max width
$medium-screen: 568px; // <--- Set Min width
$medium-large-screen: 768px; // <--- Set Min width
$big-screen: 968px; // <--- Set Min width
$large-screen: 1024px; // <--- Set Min width

/*========== Font and typography ==========*/
$body-font: "Poppins", sans-serif;
$white-text-color: #edf0f1;
$black-text-color: #28282b;

/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
$big-font-size: 2rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;

/*========== Font weight ==========*/
$font-medium: 500;
$font-semi-bold: 600;

/*========== Margins Bottom ==========*/
/* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
$mb-0-25: 0.25rem;
$mb-0-5: 0.5rem;
$mb-0-75: 0.75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;
$mb-3: 3rem;

/*========== z index ==========*/
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;

/* Font size for large devices */
@media screen and (min-width: $big-screen) {
  $big-font-size: 3.2rem;
  $h1-font-size: 2.45rem;
  $h2-font-size: 1.7rem;
  $h3-font-size: 1.95rem;
  $normal-font-size: 1.2rem;
  $small-font-size: 1.075rem;
  $smaller-font-size: 1.013rem;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $body-font;
  font-size: $normal-font-size;
}

html,
body,
#root {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4 {
  font-weight: $font-semi-bold;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 2rem 0 4rem;
}

.section__title {
  z-index: $z-tooltip;
  font-size: $h1-font-size;
}

.section__subtitle {
  display: block;
  font-size: $small-font-size;
}


.section__title,
.section__subtitle {
  text-align: center;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}


.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  // padding: 0 0rem 2.5rem 0;
  padding-bottom: 2.5rem;
  padding-inline: 2rem;
}