@import './SCSS/variables.scss';

/*==================== BASE ====================*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: $body-font;
	font-size: $normal-font-size;
}

html,
body,
#root {
	min-height: 100vh;
	background-color: $green-section;
}

#root {
	display: flex;
	flex-direction: column;
	background-color: white;
}

main {
	flex: 1;
}

h1,
h2,
h3,
h4 {
	font-weight: $font-semi-bold;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

.section {
	padding: 2rem 0 4rem;
}

.section__title {
	z-index: $z-tooltip;
	font-size: $h1-font-size;
}

.section__subtitle {
	display: block;
	font-size: $small-font-size;
}

.section__title,
.section__subtitle {
	text-align: center;
}

.btn,
.btn:focus {
	outline: none !important;
	-webkit-box-shadow: none;
	box-shadow: none;
}

a,
a:focus,
a:hover {
	text-decoration: none;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	// padding: 0 0rem 2.5rem 0;
	padding-bottom: 2.5rem;
	padding-inline: 2rem;
}

hr {
	border: 1.75px solid $green-section;
	border-radius: 5rem;
}

/*==================== WEBKIT ====================*/

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: $white-section;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.button_div {
	display: flex;
	justify-content: start;
	align-items: start;
	padding-top: 1rem;

	.button_class {
		background-color: $hover-text-color;
		padding: 20px 20px;
		border: none;
		border-radius: 5rem;
		cursor: pointer;
		transition: all 0.5s ease-in-out;
		display: flex;
		justify-content: center;
		align-items: center;
		//box-shadow: -2px 4px 0 black;
		
		
		&:hover {
			transform: translate(5px, -5px);
			box-shadow: -6px 6px 0 black;
		}

		a {
			text-decoration: none;
			color: $black-text-color;
			font-size: $h1-font-size;
			font-weight: $font-medium;
		}
	}
}
