@import "../../index.scss";




.section__title-menu {
	z-index: $z-tooltip;
	font-size: $h1-font-size;
	text-align: center;
	font-weight: $font-semi-bold;
	//first child of the section title set padding top to 2rem
	&:first-child {
		padding-top: 2rem;
	}
}

.menu-item {
	// set menu to flex between
	display: flex;
	justify-content: space-between;
	// set padding to 1rem
	padding: 1rem;	
	
	.menu-price{
		//flex to center
		display: flex;
		justify-content: center;
		align-items: center;
		//set font size to 1.5rem
		font-size: 1.5rem;
		//set font weight to semi bold
		font-weight: $font-semi-bold;
	}

}
