@import "../../index.scss";

/*
* {
	 border: 1px solid red;
}
*/



.section__title-menu {
	z-index: $z-tooltip;
	font-size: $h1-font-size;
	text-align: center;
	font-weight: $font-semi-bold;

	&:first-child {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}


//display 2 menu items per row
.menu-list {
	$column-gap: 5rem;
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	gap: 0 $column-gap;

	.menu-item {
		width: calc(50% - #{$column-gap / 2});
		// set menu to flex between
		display: flex;
		justify-content: space-between;
		padding: .5rem;
		position: relative;

		// create bottom border
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			border-radius: 1rem;
			background-color: rgb(179, 175, 175);
		}

		$font-size: 1rem;

		.menu-product {
			display: flex;
			align-items: center;

			.menu-product-name {
				font-weight: 400;
				font-size: $font-size;
			}

			.menu-description {
				margin-left: .5em;
				font-weight: 300;
				opacity: .7;
				font-size: .8rem;
				white-space: nowrap;
			}

		}

		.menu-price {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: $font-size;
			font-weight: 500;
		}
	}

}

// on mobile, display 1 menu item per row
@media screen and (max-width: 800px) {
	.menu-list {
		.menu-item {
			width: 100%;
		}
	}
}