/*==================== REUSABLE CSS CLASSES ====================*/
@import '../../index.scss';

/*==================== Reservation Style ====================*/

@mixin FormInputMixin {
	width: 100%;
	border: none;
	height: 50px;
	padding-left: 25px;
	padding-right: 15px;
	background-color: transparent;
	border: 1px solid #ccc;
	outline: none;
	border-radius: 1rem;
}

.section__title {
	margin: 2rem 0;
}

.reservation-field {
	display: flex;
	margin: 0 auto;
	gap: 2rem;

	.map_container {
		flex: 1;
		width: 100%;
		height: 400px;
		border-radius: 1.5rem;
		overflow: hidden;

		.GoogleMap {
			width: 100%;
			height: 100%;
			border: none;
		}
	}

	.form-container {
		flex: 1;
		width: 100%;
		height: 400px;
		border-radius: 1.5rem;

		form {
			div {
				margin-bottom: 0.75rem;

				input.FormInput {
					@include FormInputMixin;
				}

				select.FormInput {
					@include FormInputMixin;
					// set arrow position
					appearance: none;
					background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='black' d='M7 10l5 5 5-5z'/></svg>");
					background-repeat: no-repeat;
					background-position: right 0.7rem top 50%;
					background-size: 1.8em auto;
				}
			}

			input[type="date"].input {
				@include FormInputMixin;
			}

			// change input placeholder color
			::-webkit-input-placeholder {
				color: black;
			}

		}
	}
}

.section__title {
	h1 {
		text-align: left;
		// padding-left: 25rem;
	}
}


.reservation_button {
	padding: 10px 25px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	background-color: rgba(255, 190, 51, 1);
	color: $black-text-color;
	font-size: $h2-font-size;

	&:hover {
		background-color: rgba(255, 190, 51, 0.8);
	}
}